<?xml version="1.0" encoding="utf-8"?>

<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.musicbrainz.mobile.test"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="16" />

  <application android:label="MusicBrainz Instrumentation">
    <uses-library android:name="android.test.runner" />
  </application>

  <instrumentation
    android:targetPackage="org.musicbrainz.mobile"
    android:name="android.test.InstrumentationTestRunner" />
</manifest>