<?xml version="1.0" encoding="utf-8"?>

<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.musicbrainz.mobile"
  android:versionCode="17"
  android:versionName="1.3.4"
  android:installLocation="auto">

  <uses-sdk
    android:minSdkVersion="7"
    android:targetSdkVersion="17" />

  <compatible-screens>
    <screen
      android:screenDensity="ldpi"
      android:screenSize="small" />
    <screen
      android:screenDensity="mdpi"
      android:screenSize="small" />
    <screen
      android:screenDensity="hdpi"
      android:screenSize="small" />
    <screen
      android:screenDensity="xhdpi"
      android:screenSize="small" />
    <screen
      android:screenDensity="213"
      android:screenSize="small" />
    <screen
      android:screenDensity="ldpi"
      android:screenSize="normal" />
    <screen
      android:screenDensity="mdpi"
      android:screenSize="normal" />
    <screen
      android:screenDensity="hdpi"
      android:screenSize="normal" />
    <screen
      android:screenDensity="xhdpi"
      android:screenSize="normal" />
    <screen
      android:screenDensity="213"
      android:screenSize="normal" />
    <screen
      android:screenDensity="ldpi"
      android:screenSize="large" />
    <screen
      android:screenDensity="mdpi"
      android:screenSize="large" />
    <screen
      android:screenDensity="hdpi"
      android:screenSize="large" />
    <screen
      android:screenDensity="xhdpi"
      android:screenSize="large" />
    <screen
      android:screenDensity="213"
      android:screenSize="large" />
  </compatible-screens>

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:icon="@drawable/launcher"
    android:name=".App"
    android:label="@string/app_name"
    android:hardwareAccelerated="true"
    android:theme="@style/MusicBrainzTheme"
    android:backupAgent=".backup.MusicBrainzBackupAgent">

    <meta-data
      android:name="android.app.default_searchable"
      android:value=".activity.SearchActivity" />

    <provider
      android:name=".suggestion.SuggestionProvider"
      android:authorities="org.musicbrainz.mobile.SearchSuggestionProvider" />

    <meta-data
      android:name="com.google.android.backup.api_key"
      android:value="AEdPqrEAAAAIJeBCYRRcklJ4Px20MnlwsLTD9Rpp6eQyjiVNRg" />

    <activity
      android:name=".activity.DashboardActivity"
      android:label="@string/app_name"
      android:windowSoftInputMode="stateHidden"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activity.IncomingActivity"
      android:label="@string/app_name"
      android:configChanges="keyboardHidden|orientation">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data android:scheme="musicbrainz" />
      </intent-filter>
    </activity>

    <activity
      android:name=".activity.LoginActivity"
      android:label="@string/auth_title" />

    <activity
      android:name=".activity.AboutActivity"
      android:label="@string/about_title" />

    <activity
      android:name=".activity.DonateActivity"
      android:label="@string/donate_title" />

    <activity
      android:name=".activity.BarcodeSearchActivity"
      android:label="@string/barcodesearch_title"
      android:windowSoftInputMode="adjustResize" />

    <activity
      android:name=".activity.SearchActivity"
      android:launchMode="singleTop">
      <intent-filter>
        <action android:name="android.intent.action.SEARCH" />
      </intent-filter>
      <meta-data
        android:name="android.app.searchable"
        android:resource="@xml/searchable" />
    </activity>

    <activity
      android:name=".activity.ReleaseActivity"
      android:label="@string/release_title" />

    <activity
      android:name=".activity.ArtistActivity"
      android:label="@string/artist_title" />

    <activity
      android:name=".activity.CollectionListActivity"
      android:launchMode="singleTop"
      android:label="@string/collections_title" />

    <activity
      android:name=".activity.CollectionActivity"
      android:label="@string/app_name" />

    <activity
      android:name=".activity.SettingsActivity"
      android:label="@string/preferences_title" />

    <activity
      android:name=".activity.WebActivity"
      android:label="@string/app_name" />

    <activity
      android:name="com.paypal.android.MEP.PayPalActivity"
      android:theme="@android:style/Theme.Translucent.NoTitleBar" />

  </application>

</manifest> 