<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.metabrainz.mobile">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.Manifest.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:autoRevokePermissions="allowed"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="30">

        <service
            android:name=".ListenService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <activity
            android:name=".presentation.features.splash_screen.SplashActivity"
            android:theme="@style/AppThemeNoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.features.onboarding.AllowMe"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".presentation.features.onboarding.GettingStarted"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".presentation.features.dashboard.DashboardActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name=".presentation.features.collection.CollectionDetailsActivity"
            android:label="Collection"
            android:parentActivityName=".presentation.features.collection.CollectionActivity"
            android:theme="@style/AppThemeGrayScale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.features.collection.CollectionActivity" />
        </activity>
        <activity
            android:name=".presentation.features.collection.CollectionActivity"
            android:label="@string/dash_collections"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.tagger.TaggerActivity"
            android:label="@string/settings_tagger"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.recording.RecordingActivity"
            android:label="@string/search_type_recording"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.label.LabelActivity"
            android:label="@string/search_type_label"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.release_group.ReleaseGroupActivity"
            android:label="@string/search_type_release_group"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.search.SearchActivity"
            android:label="@string/settings_search"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".presentation.features.login.LoginActivity"
            android:label="@string/auth_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="org.metabrainz.mobile" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presentation.features.about.AboutActivity"
            android:label="@string/about_title" />
        <activity
            android:name=".presentation.features.dashboard.DonateActivity"
            android:label="@string/donate_title" />
        <activity
            android:name=".presentation.features.search.SearchResultsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppThemeGrayScale">

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".presentation.features.release.ReleaseActivity"
            android:label="@string/release_title"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.artist.ArtistActivity"
            android:label="@string/artist_title"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name=".presentation.features.settings.SettingsActivity"
            android:label="@string/preferences_title"
            android:theme="@style/AppThemeForSettings" />
        <activity
            android:name=".presentation.features.barcode.BarcodeActivity"
            android:theme="@style/AppThemeCustomActionBar" />
        <activity
            android:name=".presentation.features.barcode.BarcodeResultActivity"
            android:theme="@style/AppThemeGrayScale" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchActivity" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIJeBCYRRcklJ4Px20MnlwsLTD9Rpp6eQyjiVNRg" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".presentation.features.suggestion.SuggestionProvider"
            android:authorities="org.metabrainz.mobile.SearchSuggestionProvider"
            android:exported="false" />

        <dist:module dist:instant="true" />
    </application>

</manifest>