<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.metabrainz.android">

    <!-- Over here we define all the permissions our app needs. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.Manifest.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name="org.metabrainz.android.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <activity
            android:name="org.metabrainz.android.presentation.features.splash_screen.SplashActivity"
            android:theme="@style/AppThemeNoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.metabrainz.android.presentation.features.onboarding.FeaturesActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="org.metabrainz.android.presentation.features.dashboard.DashboardActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="org.metabrainz.android.presentation.features.collection.CollectionDetailsActivity"
            android:label="Collection"
            android:parentActivityName="org.metabrainz.android.presentation.features.collection.CollectionActivity"
            android:theme="@style/AppThemeGrayScale">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.metabrainz.android.presentation.features.collection.CollectionActivity" />
        </activity>
        <activity
            android:name="org.metabrainz.android.presentation.features.collection.CollectionActivity"
            android:label="@string/dash_collections"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name="org.metabrainz.android.presentation.features.tagger.TaggerActivity"
            android:label="@string/settings_tagger"
            android:theme="@style/AppThemeGrayScale"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="org.metabrainz.android.presentation.features.recording.RecordingActivity"
            android:label="@string/search_type_recording"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name="org.metabrainz.android.presentation.features.label.LabelActivity"
            android:label="@string/search_type_label"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name="org.metabrainz.android.presentation.features.release_group.ReleaseGroupActivity"
            android:label="@string/search_type_release_group"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name="org.metabrainz.android.presentation.features.search.SearchActivity"
            android:label="@string/settings_search"
            android:launchMode="singleTop"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="org.metabrainz.android.presentation.features.login.LoginActivity"
            android:label="@string/auth_title"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="org.metabrainz.mobile" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.metabrainz.android.presentation.features.about.AboutActivity"
            android:label="@string/about_title" />
        <activity
            android:name="org.metabrainz.android.presentation.features.dashboard.DonateActivity"
            android:label="@string/donate_title" />
        <activity
            android:name="org.metabrainz.android.presentation.features.release.ReleaseActivity"
            android:label="@string/release_title"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name="org.metabrainz.android.presentation.features.artist.ArtistActivity"
            android:label="@string/artist_title"
            android:theme="@style/AppThemeGrayScale" />
        <activity
            android:name="org.metabrainz.android.presentation.features.settings.SettingsActivity"
            android:label="@string/preferences_title"
            android:theme="@style/AppThemeForSettings" />
        <activity
            android:name="org.metabrainz.android.presentation.features.barcode.BarcodeActivity"
            android:theme="@style/AppThemeCustomActionBar" />
        <activity
            android:name="org.metabrainz.android.presentation.features.barcode.BarcodeResultActivity"
            android:theme="@style/AppThemeGrayScale" />

        <!-- Required to add this to the manifest for usage of the web view library. -->
        <activity
            android:name="com.thefinestartist.finestwebview.FinestWebViewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensor"
            android:theme="@style/FinestWebViewTheme" />

        <provider
            android:name="org.metabrainz.android.presentation.features.suggestion.SuggestionProvider"
            android:authorities="org.metabrainz.android.SearchSuggestionProvider"
            android:exported="false" />

        <!-- We need to add this so that we can access the notifications and submit listens. -->
        <service
            android:name="org.metabrainz.android.presentation.features.listen.ListenService"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>