<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="org.metabrainz.mobile">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".presentation.features.tagger.FileSelectActivity" />

        <activity
            android:name=".presentation.features.tagger.TaggerActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.collection.CollectionDetailsActivity"
            android:parentActivityName=".presentation.features.collection.CollectionActivity"
            android:theme="@style/AppThemeCustomActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.features.collection.CollectionActivity" />
        </activity>
        <activity android:name=".presentation.features.taggerkotlin.KotlinTaggerAcitivty"
                    android:theme = "@style/AppThemeNoActionBar"/>
        <activity
            android:name=".presentation.features.collection.CollectionActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.recording.RecordingActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.label.LabelActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.release_group.ReleaseGroupActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity android:name=".presentation.features.SplashActivity.SplashActivity"
                  android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.features.dashboard.DashboardActivity">
                        <meta-data
                            android:name="android.app.searchable"
                            android:resource="@xml/searchable" />
        </activity>
        <activity android:name=".presentation.features.KotlinDashboard.KotlinDashboardActivity">

        </activity>
<!--        <activity-->
<!--            android:name=".presentation.features.dashboard.DashboardActivity"-->
<!--            android:label="@string/app_name"-->
<!--            android:launchMode="singleTop"-->
<!--            android:windowSoftInputMode="stateHidden">-->
<!--            <meta-data-->
<!--                android:name="android.app.searchable"-->
<!--                android:resource="@xml/searchable" />-->
<!--        </activity>-->

        <activity
            android:name=".presentation.features.login.LoginActivity"
            android:label="@string/auth_title">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="org.metabrainz.mobile" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.features.about.AboutActivity"
            android:label="@string/about_title" />

        <activity
            android:name=".presentation.features.dashboard.DonateActivity"
            android:label="@string/donate_title" />

        <activity
            android:name=".presentation.features.search.SearchActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".presentation.features.release.ReleaseActivity"
            android:label="@string/release_title"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.artist.ArtistActivity"
            android:label="@string/artist_title"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.settings.SettingsActivity"
            android:label="@string/preferences_title"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.barcode.BarcodeActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <activity
            android:name=".presentation.features.barcode.BarcodeResultActivity"
            android:theme="@style/AppThemeCustomActionBar" />

        <meta-data
            android:name="android.app.default_searchable"
            android:value=".activity.SearchActivity" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIJeBCYRRcklJ4Px20MnlwsLTD9Rpp6eQyjiVNRg" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name=".presentation.features.suggestion.SuggestionProvider"
            android:authorities="org.metabrainz.mobile.SearchSuggestionProvider"
            android:exported="false" />

        <dist:module dist:instant="true" />
    </application>

</manifest>